{% load static %}
<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shr.today</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}" />
    <script type="module" src="{% static 'assets/scripts/app.js' %}"></script>
  </head>
  <body class="min-h-screen flex flex-col bg-base-100">
    <!-- Navbar -->
    {% include 'shared/navbar.html' %}

    <!-- Django Messages -->
    <div id="messages-container">{% include "shared/messages.html" %}</div>

    <!-- Main Content -->
    <main class="flex-grow">
      <div class="container max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <nav class="text-sm breadcrumbs mb-4">
          <ul>
            {% block breadcrumbs %}{% endblock %}
          </ul>
        </nav>

        {% block main %}{% endblock %}
      </div>
    </main>

    <!-- Footer -->
    {% include 'shared/footer.html' %}
  </body>
</html>
