{% extends 'layouts/default.html' %} {% block main %}

<div class="card w-full max-w-sm shadow-xl bg-base-100">
  <div class="card-body">
    <h2 class="card-title justify-center mb-4">請輸入密碼</h2>
    <form method="post" class="space-y-4">
      {% csrf_token %}
      <input type="password" name="password" placeholder="Enter password" class="input input-bordered w-full" required />
      {% if error %}
      <div class="alert alert-error py-2">{{ error }}</div>
      {% endif %}
      <div class="card-actions justify-end">
        <button type="submit" class="btn btn-primary w-full">確定</button>
      </div>
    </form>
  </div>
</div>

{% endblock main %}
